.app_character-catalog {
  margin: 0;
  padding: 0;
}

.app_header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.app-title {
  margin: 0;
  padding: 15px 0 15px 0;
  color: #57cb60;
  text-align: center;
  border-bottom: 1px solid #6161617c;
}

.app_main-container {
  margin: 0 auto;
  max-width: 1550px;
  padding: 120px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.info-characters_container {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 25px;
}

.all-info-characters {
  align-items: center;
  width: 350px;
  height: 65px;
  background-color: #0a0e11;
  border: 1px solid #6161617c;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.all-info-characters_top3 {
  padding: 5px 0 0 0;
  margin: 0;
  font-size: 16px;
}

.info-characters-top {
  align-items: center;
  width: 350px;
  height: 65px;
  background-color: #0a0e11;
  border: 1px solid #6161617c;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.icon {
  border-radius: 10px;
  background-color: #175d1d53;
  padding: 9px;
}

.stat-content {
  margin: 0 0 0 15px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.stat-label {
  font-weight: 400;
  color: #868686;
  padding: 0;
  margin: 0;
}

.stat-value {
  padding: 0;
  margin: 0;
}

.search-field {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.search-icon {
  position: absolute;
  left: 10px; /* расстояние от левого края инпута */
  top: 50%; /* вертикальное центрирование */
  transform: translateY(-50%); /* центрируем по вертикали */
  pointer-events: none; /* чтобы клики шли на инпут */
}

.input-search {
  width: 100%;
  padding: 10px 10px 10px 35px;
  height: 35px;
  background: none;
  border: 1px solid #6161617c;
  border-radius: 7px;
  box-sizing: border-box; /* чтобы padding учитывался */
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &::placeholder {
    color: #868686;
  }

  &:focus {
    border-color: #57cb60;
    outline: none;
    box-shadow: 0 0 15px rgba(87, 203, 96, 0.5);
  }
}

.reset-icon {
  height: 35px;
  background: transparent;
  padding: 7px;
  border: 1px solid #6161617c;
  border-radius: 7px;
  transition: background-color 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: #57cb60;
    outline: none;
    color: #000000;
  }
}

.search-container {
  display: flex;
  gap: 1rem;
}

.select-container_sorting-characters {
  margin-bottom: 20px;
  display: flex;
  gap: 1.2rem;
}

.select_sorting-characters {
  padding: 10px;
  background: transparent;
  border: 1px solid #6161617c;
  border-radius: 7px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    border-color: #57cb60;
    outline: none;
    box-shadow: 0 0 15px rgba(87, 203, 96, 0.5);
  }
}

.select_sorting-characters option {
  background-color: #57cb61;
}

.icon-favorites {
  width: 18px;
  color: #ffffff;
  position: absolute;
  left: 10px; /* расстояние от левого края инпута */
  top: 50%; /* вертикальное центрирование */
  transform: translateY(-50%); /* центрируем по вертикали */
  pointer-events: none; /* чтобы клики шли на инпут */
}

.btn-favorites {
  position: relative;
  padding: 10px 10px 10px 40px;
  font-weight: 700;
  font-size: 17px;
  background: transparent;
  border: 1px solid #6161617c;
  border-radius: 7px;

  &:hover {
    cursor: pointer;
    border-color: #57cb60;
    outline: none;
    box-shadow: 0 0 15px rgba(87, 203, 96, 0.5);
  }

  &:hover .icon-favorites {
    color: #57cb60;
  }
}

.characters-catalog {
  max-width: 1560px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.error_characters-undefined {
  margin: 100px auto;
  font-size: 20px;
  color: #929292;
}

.characters-card:hover .character-card-image {
  transform: scale(1.05);
}

.characters-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #0a0e11;
  overflow: hidden;
  border: 1px solid #6161617c;
  border-radius: 10px;
  padding: 25px 0 110px 0;

  &:hover {
    border-color: #57cb60;
    box-shadow: 0 0 15px rgba(87, 203, 96, 0.5);
  }
}

.character-card-image {
  transition: transform ease-out 0.2s;
  width: 295px;
}

.character-card_btn-favorites {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #383838;
  border: none;
  position: absolute;
  right: 10px;
  top: 30px;
  transition: background-color ease-out 0.2s;

  &:hover {
    background-color: #000000;
  }
}

.character-card_icon-favorites {
  width: 20px;
}

.character-card_icon-favorites-active {
  color: #57cb60;
}

.character-card_status-alive {
  font-size: 13px;
  text-align: center;
  color: #000000;
  border-radius: 8px;
  position: absolute;
  padding: 1px 10px 1px 10px;
  background-color: #57cb60;
  left: 10px;
  bottom: 120px;
}

.character-card_status-dead {
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  position: absolute;
  padding: 1px 10px 1px 10px;
  background-color: #ff0000;
  left: 10px;
  bottom: 120px;
}

.character-card_status-unknown {
  font-size: 13px;
  text-align: center;
  color: #949494;
  border-radius: 8px;
  position: absolute;
  padding: 2px 10px 2px 10px;
  background-color: #212426;
  left: 10px;
  bottom: 120px;
}

.character-card_name {
  position: absolute;
  padding: 35px 0 0 15px;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.character-card_gender {
  position: absolute;
  padding: 60px 0 0 15px;
  color: #949494;
  font-size: 14px;
}
